.footer-options {
  border-top: 1px solid rgba(151, 151, 151, 0.822);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #fff;
  z-index: 3;
}

.footer-text {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin-top: 4px;
  color: rgb(75, 75, 75);
}

.copyright-icon {
  color: #9e9e9e !important;
}
